body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(315deg, #060116, #1b3950);
    color: white;
    scroll-behavior: smooth;
}
  
.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
  
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
    text-align: center;
    flex-direction: column;
}
  
.solar-system {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    position: relative;
    margin: 20px 0;
}
  
.planet {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.2s;
    will-change: transform;
    position: relative;
    margin: 10px;
}
  
.planet:hover {
    transform: scale(1.25);
}
  
.sun {
    width: 20vw;
    height: 20vw;
    background-color: yellow;
    margin-top: 20px;
}
  
.mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: planetRotate 30s linear infinite;
}
  
.mercury {
    width: 5vw;
    height: 5vw;
    background: url(../images/Mercurio.jpg);
}
  
.venus {
    width: 7vw;
    height: 7vw;
    background: url(../images/Venus.jpg);
}
  
.earth {
    width: 8vw;
    height: 8vw;
    background: url(../images/Tierra.jpg);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), -5px 0 8px #c3f4ff inset, 15px 2px 25px #000 inset, -24px -2px 34px #c3f4ff99 inset, 250px 0 44px #00000066 inset, 150px 0 38px #000000aa inset;
}
  
.mars {
    width: 6vw;
    height: 6vw;
    background: url(../images/Marte.jpg);
}
  
.jupiter {
    width: 20vw;
    height: 20vw;
    background: url(../images/Jupiter.jpg);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), -5px 0 8px #c3f4ff inset, 15px 2px 25px #000 inset, -24px -2px 34px #c3f4ff99 inset, 250px 0 44px #00000066 inset, 150px 0 38px #000000aa inset;
}
  
.saturn {
    width: 15vw;
    height: 15vw;
    background: url(../images/Saturno.png);
}
  
.uranus {
    width: 12vw;
    height: 12vw;
    background: url(../images/Urano.jpg);
}
  
.neptune {
    width: 10vw;
    height: 10vw;
    background: url(../images/Neptuno.jpg);
}
  
.section {
    padding: 50px 20px;
}
  
.section h2 {
    margin-top: 0;
}
  
@keyframes planetRotate {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px 0;
    }
}
  
/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .sun {
      width: 25vw;
      height: 25vw;
    }
  
    .mercury {
      width: 6vw;
      height: 6vw;
    }
  
    .venus {
      width: 8vw;
      height: 8vw;
    }
  
    .earth {
      width: 9vw;
      height: 9vw;
    }
  
    .mars {
      width: 7vw;
      height: 7vw;
    }
  
    .jupiter {
      width: 22vw;
      height: 22vw;
    }
  
    .saturn {
      width: 17vw;
      height: 17vw;
    }
  
    .uranus {
      width: 14vw;
      height: 14vw;
    }
  
    .neptune {
      width: 12vw;
      height: 12vw;
    }
  }
  
  @media (max-width: 768px) {
    .sun {
      width: 30vw;
      height: 30vw;
    }
  
    .mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune {
      width: 10vw;
      height: 10vw;
    }
  
    .earth, .jupiter {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), -5px 0 4px #c3f4ff inset, 10px 1px 15px #000 inset, -12px -1px 17px #c3f4ff99 inset, 125px 0 22px #00000066 inset, 75px 0 19px #000000aa inset;
    }
  }
  
  @media (max-width: 480px) {
    .sun {
      width: 40vw;
      height: 40vw;
    }
  
    .mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune {
      width: 15vw;
      height: 15vw;
    }
  
    .earth, .jupiter {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.2), -5px 0 2px #c3f4ff inset, 5px 1px 10px #000 inset, -6px -1px 12px #c3f4ff99 inset, 62px 0 11px #00000066 inset, 37px 0 9px #000000aa inset;
    }
  }
  